    <div class="container">
      <h1>Nagios Events</h1>
    </div>
    <script type="text/javascript">
      var allSiteData = <%= sites.to_json %>
    </script>
    <script src="/js/events.js" type="text/javascript"></script>
