
      <script type="text/x-handlebars" data-template-name="application">
        {{ outlet }}
      </script>

      <script type="text/x-handlebars" data-template-name="index">
        <div class="container">
          <h1>Welcome to Lipstick</h1>
        </div>
        {{ outlet }}
      </script>

      <script type="text/x-handlebars" data-template-name="sites">
        <div class="container">
          {{#each site in controller}}
          <div class="col-md-2 col-sm-3 col-xs-4 site">
            <span class="name">{{ site.name }}</span>
            <span class="events count">{{ site.events.length }}</span>
          </div>
          {{/each}}
        </div>
        {{ outlet }}
      </script>

      <script type="text/x-handlebars" data-template-name="sites/show">
        <h4>Hello from sites-show template {{ id }}</h4>
        {{ name }}
        {{ url }}
      </script>
