
      <script type="text/x-handlebars" data-template-name="application">
        {{ outlet }}
      </script>

      <script type="text/x-handlebars" data-template-name="index">
        <div class="container">
          <h1>Welcome to Lipstick</h1>
        </div>
        {{ outlet }}
      </script>

      <script type="text/x-handlebars" data-template-name="sites/index">
        <div class="container">
          <h1>Nagios Sites<span class="site add" data-toggle="modal" data-target="#myModal">&#x2b;</span></h1>
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">Create a New Site</h4>
                </div>
                <div class="modal-body">
                  <form role="form">
                    <div class="form-group">
                      <label for="inputName">Name</label>
                      {{input type="text" class="form-control" value=inputName id="inputName" placeholder="ex: LAX"}}
                    </div>
                    <div class="form-group">
                      <label for="inputUrl">URL</label>
                      {{input type="text" class="form-control" value=inputUrl id="inputUrl" placeholder="ex: http://nagios.lax.example.com/nagios"}}
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" {{action 'createSite'}}>Save changes</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
          {{#each site in controller}}
          {{#link-to "sites.show" site.id class="site"}}
            <div class="col-md-2 col-sm-3 col-xs-4 site">
              <span class="name">{{ site.name }}</span>
              <span {{bind-attr class=":events :count site.hardEventsStatus"}}>{{ site.hardEvents.length }}</span>
            </div>
          {{/link-to}}
          {{/each}}
        </div>
        {{ outlet }}
      </script>

      <script type="text/x-handlebars" data-template-name="sites/show">
        <div class="container">
          <h1>Nagios Site &#47;&#47; <span class="site name">{{ name }}</span><span class="site destroy" data-toggle="modal" data-target="#deleteSiteModal">&#xD7;</span></h1>
          {{#if alerts.length}}
          {{#each alert in alerts}}
          {{bs-alert message=alert.message type=alert.type dismissAfter=alert.duration fade=true}}
          {{/each}}
          {{/if}}
          <div class="modal fade" id="deleteSiteModal" tabindex="-1" role="dialog" aria-labelledby="deleteSiteModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="deleteSiteModalLabel">Delete this Site from Lipstick?</h4>
                </div>
                <div class="modal-body">
                  This change only affects Lipstick, it will not have any affect on your production Nagios instance.
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger" {{action 'destroySite'}}>Delete Site</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
          <div class="modal fade" id="addDowntimeModal" tabindex="-1" role="dialog" aria-labelledby="addDowntimeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="addDowntimeModalLabel">Set downtime for <span class="text-primary">{{currentDowntimeEvent.host}} {{currentDowntimeEvent.service}}</span></h4>
                </div>
                <div class="modal-body">
                  <form class="downtime" role="form">
                    <div class="form-group">
                      <label for="downtimeDuration">Duration</label>
                      {{input class="form-control" id="downtimeDuration" value=currentDowntimeEvent.downtimeDuration}}
                    </div>
                    <div class="form-group">
                      <label for="comment">Comment</label>
                      {{input class="form-control" id="comment" value=currentDowntimeEvent.comment placeholder="Insert comment here"}}
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger" {{action 'downtimeEvent' currentDowntimeEvent}}>Schedule Downtime</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->
          {{#if events.length}}
          <div class="table-responsive">
            <table class="table table-condensed events">
              <thead>
                <tr>
                  <th>Actions</th>
                  <th {{action 'sortEvents' 'host'}}>Host</th>
                  <th {{action 'sortEvents' 'service'}}>Alert</th>
                  <th {{action 'sortEvents' 'status'}}>Status</th>
                  <th {{action 'sortEvents' 'last_check'}}>Last Check</th>
                  <th {{action 'sortEvents' 'attempts'}}>Attempts</th>
                  <th {{action 'sortEvents' 'duration'}}>Duration</th>
                </tr>
              </thead>
              <tbody>
                {{#each event in sortedEvents}}
                <tr>
                  <td>
                    <span {{bind-attr class=":event :acknowledge :glyphicon event.acknowledged:glyphicon-check:glyphicon-unchecked"}} {{action 'toggleAcknowledgeEvent' event}} title="Acknowledge"></span>
                    <span {{bind-attr class=":event :downtime :glyphicon :glyphicon-time event.downtime:enabled:disabled"}} {{action 'toggleDowntimeEvent' event}} title="Downtime"></span>
                    <span class="event check glyphicon glyphicon-refresh" {{action 'checkEvent' event}} title="Reschedule Check"></span>
                  </td>
                  <td><a href="{{unbound event.host_extinfo_url}}" target="_new">{{ event.host }}</a></td>
                  <td><a href="{{unbound event.service_extinfo_url}}" target="_new">{{ event.service }}</a></td>
                  <td>{{ event.status }}</td>
                  <td>{{ event.last_check }}</td>
                  <td>{{ event.attempts }}</td>
                  <td>{{ event.duration }}</td>
                </tr>
                {{/each}}
              </tbody>
            </table>
          </div>
          {{else}}
          <h2>All Green!</h2>
          {{/if}}
        </div>
      </script>
