    <div class="container">
      <h1>Nagios Sites</h1>
      <ul>
      <% sites.each do |site| %>
        <li><a href="<%= site.url %>"><%= site.name %></a></li>
      <% end %>
      </ul>
    </div>
    <script src="/js/sites.js" type="text/javascript"></script>
