    <div class="container">
      <h1>Nagios Sites</h1>
    </div>
    <script type="text/javascript">
      var allSiteData = <%= sites.to_json %>
    </script>
    <script src="/js/common.js" type="text/javascript"></script>
    <script src="/js/sites.js" type="text/javascript"></script>
    <div class="container sites">
    </div>
